<!DOCTYPE html>
<html>
  <head>
    <title>Paimo</title>
    <%= csrf_meta_tags %>
    <meta name="title" property="og:title" content="Paimo" />
    <meta name="description" content="Paimo is a clone of Venmo where users can signup and exchange fake virtual money" />
    <meta property="og:type" content="peer-to-peer payment" />
    <meta name="image" property="og:image" content="<%= image_url('meta-image.mov') %>" />
    <meta name="description" property="og:description" content="Paimo is a clone of Venmo where users can signup and exchange fake virtual money" />
    <meta name="author" content="Abraham Fong" />

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      <% if logged_in? %>
        window.currentUser = {
          id: <%=current_user.id%>,
          username: "<%=current_user.username%>",
          name: '<%="#{current_user.first_name} #{current_user.last_name}"%>',
          amount: "<%=current_user.amount%>",
          email: "<%=current_user.email%>"
        }
      <% end %>
    </script>
    <script src="https://kit.fontawesome.com/d4d4bc9d96.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=MedievalSharp&family=Roboto:wght@100;300;400;500&family=Work+Sans:wght@200;300;400;500&family=Proza+Libre:wght@800&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
